:root {
  --font-s: 20px;
  --font-m: 22px;
  --font-l: 25px;
  --primary-color: gray;
  --secondary-color: lightgray;
  --bg-color: rgb(211, 232, 240);
  --selected-content: whitesmoke;
}

.logout a {
  margin: 0 0.2em;
  padding: 0 0.4em;
  border-left: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--primary-color);
}

.thin {
  font-weight: 200;
}

.thick {
  font-weight: 400;
}

.scroll {
  overflow: scroll;
}

#create-btn {
  width: 45px;
  height: 2em;
  font-size: 1em;
}