body {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  height: 5em;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.create-list {
  border: 1px solid black;
  margin: 20px 0;
  padding: 20px;
}

.view-list {
  border: 1px solid black;
  height: 60%;
  padding: 0 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: scroll;
}

.list li {
  padding: 0em 1em 0;
  height: 3em;
  border: 1px solid gray;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.items * {
  margin: 2px 0;
}

.feild-container {
  width: 230px;
  display: flex;
  justify-content: space-between;
}