body {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  height: 5em;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.create-list {
  border: 1px solid black;
  margin: 20px 0;
  padding: 20px;
}

.view-list {
  border: 1px solid black;
  height: 60%;
  padding: 0 20px;
}

.listcard {
  border: 1px solid gray;
  width: 100%;
  height: 3em;
  margin: 10px 0;
}