body {
  margin: 20px auto;
  width: 1080px;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-item {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}