body {
  font-family: sans-serif;
}

.page {
  width: 720px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  padding: 1em 0 0;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  height: 2em;
  margin: 1em 1em;
}

#message {
  color: red;
}

#submit-btn {
  width: 150px;
  height: 2em;
  margin: 2em;
}

.title {
  font-weight: 100;
}

legend {
  font-size: 2.5em;
  text-align: center;
}