<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/styles/home.css">
  <script src="/js/home.js"></script>
</head>

<body>
  <header class="page-header">
    <div class="icon-name">
      <h1 class="thick">TODO</h1>
    </div>

    <div>
      <h1 class="message thick">
        Welcome __USERNAME__
      </h1>
    </div>
    <div>
      <div class="logout">
        <a href="/logout">Logout</a>
      </div>
    </div>
  </header>

  <main>
    <section class="box">
      <h3 class="thin">Create new TODO list</h3>

      <form action="/todo/add-list" method="post">
        <div class="field">
          <label for="title">Title:</label>
          <input type="text" name="title" id="todo-title" required>
        </div>

        <div class="add-item">
          <label for="items">Add TODOs:</label>
          <input type="button" value="+" id="create-item">
        </div>

        <div class="items">
        </div>

        <input type="submit" value="Create List" id="create-list">
      </form>

      <div>
      </div>
    </section>

    <section class="view-list scroll">
      <h3 class="thick">All TODOs</h3>
      <div class="all-lists">

      </div>
    </section>
  </main>
</body>

</html>