<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/styles/common.css">
  <link rel="stylesheet" href="/styles/home.css">
  <script src="/js/home.js"></script>
  <script src="/js/search.js"></script>
</head>

<body>
  <header class="page-header">
    <div class="icon-name">
      <h1 class="thick"><a href="/todo/home">TODO</a></h1>
    </div>

    <div class="logout">
      <span>__USERNAME__</span>
      <a href="/logout">Logout</a>
    </div>
  </header>

  <main>
    <div class="createlist-search">
      <form action="add-list" method="post" id="create-list-form">
        <input type="text" name="title" id="title-feild" placeholder="Add list here" class="bar text-align" required>
        <input type="submit" value="+" id="create-btn">
      </form>

      <div id="search">
        <input type="text" name="key" id="search-bar" class="bar text-align" placeholder="Search here">
      </div>
    </div>

    <section class="view-list scroll">
      <h3 class="thick margin-trim">All TODOs</h3>

      <div class="all-lists scroll">

      </div>
    </section>
  </main>
</body>

</html>