<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/styles/common.css">
  <link rel="stylesheet" href="/styles/home.css">
  <script src="/js/home.js"></script>
  <script src="/js/search.js"></script>
</head>

<body>
  <header class="page-header">
    <div class="icon-name">
      <h1 class="thick"><a href="/todo/home">TODO</a></h1>
    </div>

    <div class="logout">
      <span>__USERNAME__</span>
      <a href="/logout">Logout</a>
    </div>
  </header>

  <main>
    <div class="createlist-search">
      <form action="add-list" method="post" id="create-list-form">
        <input type="text" name="title" id="title-feild" placeholder="Add list here" class="bar text-align" required>
        <input type="submit" value="+" id="create-btn">
      </form>

      <form action="/search" method="get" id="search">
        <input type="search" name="key" id="search-bar" class="bar text-align" placeholder="Search here"
          autocomplete="off">

        <div id="search-options">
          <div>
            <input type="radio" name="category" id="list" value="list">
            <label for="list">List</label>
          </div>

          <div>
            <input type="radio" name="category" id="items" value="items">
            <label for="items">Items</label>
          </div>

          <div>
            <input type="radio" name="category" id="done" value="done">
            <label for="done">Done</label>
          </div>

          <div>
            <input type="radio" name="category" id="pending" value="pending">
            <label for="pending">Pending</label>
          </div>
        </div>
      </form>
    </div>

    <section class="view-list scroll">
      <h3 class="thick margin-trim" id="view-title">All TODOs</h3>

      <div class="all-lists scroll">

      </div>
    </section>
  </main>
</body>

</html>