<html>

<head>
  <title>List</title>
  <link rel="stylesheet" href="/styles/list.css">
  <script src="/js/list.js"></script>
</head>

<body>
  <header>
    <a href="/todo/home">Home</a>
    <h1 class="thick">__TITLE__</h1>

    <div>
      <span>__USERNAME__</span>
      <div class="logout">
        <a href="/logout">Logout</a>
      </div>
    </div>
  </header>

  <main>

    <form action="todo/add-item" method="post">
      <input type="text" name="listId" value="__LISTID__" hidden>

      <div class="create-item">
        <input type="text" name="item" placeholder="Enter your TODO" id="prompt" required>
        <input type="button" value="+" id="create-button">
      </div>
    </form>

    <div class="items">
    </div>
  </main>
</body>

</html>