<html>

<head>
  <title>List</title>
  <link rel="stylesheet" href="styles/list.css">
</head>

<body>
  <header>
    <a href="home">Home</a>
    <div>
      <span>__USERNAME__</span>
      <div class="logout">
        <a href="/logout">Logout</a>
      </div>
    </div>
  </header>

  <main>
    <section class="list-view">
      <h1>__TITLE__</h1>

      <h3>TODO's:</h3>
      <div class="items">
        __ITEMS__
        <ul>
          <li>hi</li>
          <li>hi</li>
          <li>hi</li>
        </ul>
      </div>
    </section>
  </main>
</body>

</html>