<html>

<head>
  <title>List</title>
  <link rel="stylesheet" href="/styles/list.css">
  <script src="/js/list.js"></script>
</head>

<body>
  <header>
    <a href="/todo/home">Home</a>
    <h2>TODO's:</h2>
    <div>
      <span>__USERNAME__</span>
      <div class="logout">
        <a href="/logout">Logout</a>
      </div>
    </div>
  </header>

  <main>

    <section class="create-item">
      <form action="todo/add-item" method="post">
        <input type="text" name="listId" value="__LISTID__" hidden>
        <input type="text" name="item" placeholder="Enter Your TODO">
      </form>

      <input type="button" value="Add Item" id="create-button">
    </section>

    <section class="list-view">
      <h2>__TITLE__</h2>

      <div class="items">
      </div>
    </section>
  </main>
</body>

</html>