<html>

<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="styles/signUp.css">
  <link rel="stylesheet" href="styles/common.css">
</head>

<body>
  <main class="page">
    <form action="/sign-up" method="post">
      <fieldset class="signup">
        <legend>Sign Up</legend>

        <div class="input-section">
          <label for="username">Username:</label>
          <input type="text" name="username" required>
        </div>

        <div class="input-section">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required>
        </div>

        <input type="submit" value="Sign Up" id="submit-btn">
      </fieldset>
    </form>

    <div class="login">
      <label for="login">Already have an account?</label>
      <a href="/login">Login</a>
    </div>
  </main>
</body>

</html>